<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="coopcyleJhipsterApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyleJhipsterApp.order.deliveryAddress">Delivery Address</span></dt>
        <dd>
          <span>{{ order.deliveryAddress }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyleJhipsterApp.order.takeoutAdress">Takeout Adress</span></dt>
        <dd>
          <span>{{ order.takeoutAdress }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyleJhipsterApp.order.deliveryMan">Delivery Man</span></dt>
        <dd>
          <div *ngIf="order.deliveryMan">
            <a [routerLink]="['/delivery-man', order.deliveryMan?.id, 'view']">{{ order.deliveryMan?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcyleJhipsterApp.order.shop">Shop</span></dt>
        <dd>
          <div *ngIf="order.shop">
            <a [routerLink]="['/shop', order.shop?.id, 'view']">{{ order.shop?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcyleJhipsterApp.order.client">Client</span></dt>
        <dd>
          <div *ngIf="order.client">
            <a [routerLink]="['/client', order.client?.id, 'view']">{{ order.client?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
