<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-delivery-man-heading"
        data-cy="DeliveryManCreateUpdateHeading"
        jhiTranslate="coopcyleJhipsterApp.deliveryMan.home.createOrEditLabel"
      >
        Create or edit a Delivery Man
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyleJhipsterApp.deliveryMan.vehicleType" for="field_vehicleType">Vehicle Type</label>
          <input
            type="text"
            class="form-control"
            name="vehicleType"
            id="field_vehicleType"
            data-cy="vehicleType"
            formControlName="vehicleType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyleJhipsterApp.deliveryMan.rides" for="field_rides">Rides</label>
          <input type="number" class="form-control" name="rides" id="field_rides" data-cy="rides" formControlName="rides" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyleJhipsterApp.deliveryMan.earned" for="field_earned">Earned</label>
          <input type="number" class="form-control" name="earned" id="field_earned" data-cy="earned" formControlName="earned" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyleJhipsterApp.deliveryMan.rating" for="field_rating">Rating</label>
          <input type="text" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyleJhipsterApp.deliveryMan.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
